whisper==1.0.0

#updating apt and installing the ffmeg modules for working with videos and audios
ffmpeg

#installing setup rust
setuptools-rust

#installing imageio==2.4.1 dependency
imageio==2.4.1

#pyannotate for speaker diarization
pyannote.audio

#moviepy for editing
moviepy

#streamlit for UI
streamlit

#pytube for donwloading youtube videos
pytube

#deepgram
deepgram-sdk

pysrt
